.page-footer {
  background-color: #01579b;
}

.container.footer-up-part {
  width: 100%;
}

.footer-logo {
  display: flex;
  flex-direction: row;
  margin-top: 2rem;
}

.footer-logo-img {
  margin: 0;
  padding: 0;
}

.name-and-slogan {
  display: flex;
  flex-direction: column;
  margin-top: 2rem;
}

.page-footer {
  padding-top: 0;
  color: #fff;
  background-color: #2196f3;
}
.container-footer {
  margin-left: 0.5rem;
  margin-right: 0.5rem;
}
.footer-links {
  margin-top: 2rem;
  text-align: center;
}
.footer-contacts {
  display: flex;
  justify-content: space-around;
}

.partners-link-title {
  text-align: center;
}

.footer-patner-img {
  width: 7rem;
  padding-left: 2rem;
}

.partners-links-blok {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.container-footer {
  padding-top: 1rem;
  padding-left: 1rem;
  padding-right: 1rem;
}
.footer--copyright {
  display: block;
  height: 50px;
  margin-right: 0rem;
  color: rgba(255, 255, 255, 0.8);
  background-color: rgba(51, 51, 51, 0.08);
  align-items: center;
}

.my-email {
  text-decoration: underline;
  margin-left: 1rem;
}
