.nav-main {
  background-color: #01579b;
}

.logo-imgs {
  display: flex;
}

.logo-img {
  margin: 0;
  padding: 0;
  max-width: 67px;
}

.m-menu {
  border: none;
  width: 35px;
  height: 30px;
  background-color: transparent;
  padding: 0;
  display: none;
  flex-direction: column;
  justify-content: space-around;
  margin-left: 20px;
  margin-top: 15px;
}

.m-menu .line {
  width: 100%;
  height: 1px;
  background-color: #fff;
}

@media (max-width: 1250px) {
  .logo-text {
    font-size: 1.3rem;
    margin-top: 1.4rem;
  }
}

@media (max-width: 960px) {
  .nav-main {
    display: flex;
    justify-content: space-between;
    background-color: #01579b;
  }

  .logo-img {
    margin-left: 0rem;
    margin-right: 0rem;
    max-height: 67px;
    margin-right: 1rem;
  }
  .logo-text {
    font-size: 1rem;
    margin-top: 0px;
    max-width: 5rem;
  }
}

@media (max-width: 840px) {
}

@media (max-width: 760px) {
  .carousel {
    display: none;
  }
  .nav-menu {
    display: none;
  }
  .m-menu {
    display: flex;
    margin-top: 11px;
    margin-right: 24px;
  }
  .logo-text {
    max-width: 25rem;
    margin-top: 5px;
  }
  .logo-img {
    max-width: 60px;
  }

  @media (max-width: 450px) {
    .logo-text {
      margin-top: 12px;
    }
  }

  @media (max-width: 380px) {
    .logo-img {
      height: 60px;
      width: 60px;
    }
    .logo-text {
      margin-top: 5px;
    }
  }
}
